<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Halaman Login</h1>
    
        
    </header>
    <main>
        <div class="login container margin-top">
            <label for="username">username</label>
            <input type="text"> fsdffd</input>
            <a href="{{ url_for('dashboard') }}" class="button3">Login</a>
        </div>
    </main>
</body>
